r
sreg
creg
pb 0x101000
pb 0x1000ea
c
r
sreg
creg
writemem "first-cpu-frame.bin" 0xc017ffec 16
c
r
sreg
creg
writemem "second-cpu-frame.bin" 0xc017ffec 16
c
r
sreg
creg
writemem "frames.bin" 0xc0190000 64
writemem "results.bin" 0xc0190100 32
writemem "code-after.bin" 0xc0100000 12288
writemem "tables-after.bin" 0xc0000000 36864
writemem "data-after.bin" 0xc0200000 4096
q
